@model IEnumerable<E_Learning.Models.Enrollment>

@{
    ViewData["Title"] = "مساراتك";
}

<h1>@ViewData["Title"]</h1>
<table class="table">
    <thead>
        <tr>
            <th>
                المسار
            </th>
            <th>
                التكلفة
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-controller="Courses" asp-action="Details" asp-route-id="@item.Course.Id">
                        @Html.DisplayFor(modelItem => item.Course.Title)
                    </a>
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cost)
                </td>
            </tr>
        }
    </tbody>
</table>
