@model ApplicationUser
@using Microsoft.AspNetCore.Identity

@{
    ViewData["Title"] = "تفاصيل المستخدم";
}

<h1>User</h1>

@if (ViewBag.Succeeded != null && ViewBag.Succeeded) {
    <div class="alert alert-success" role="alert">
        تم تحديث المستخدم بنجاح!
    </div>
}

<form method="post" asp-controller="Users" asp-action="Details" asp-route-id="@Model.Id">
    <table class="table">
        <tbody>
                <tr>
                    <td>اسم المستخدم:</td>
                    <td>@Model.UserName</td>
                </tr>
                <tr>
                    <td>البريد الإلكتروني:</td>
                    <td>@Model.Email</td>
                </tr>
                <tr>
                    <td>المحفظة:</td>
                    <td>@Model.Wallet</td>
                </tr>
                <tr>
                    <td>الدور:</td>
                    <td><select name="rolesIds" class="form-control" asp-items="ViewBag.Roles" multiple></select></td>
                </tr>
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">حفظ التعديلات</button>
</form>